@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300,400;0,600,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
}

header {
    background: no-repeat center/cover  url('assets/header-image.jpg');
    height: calc(100vh - 150px);
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

nav p {
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: auto 15px;
}

.header-content {
    max-width: 600px;
    margin: 110px auto;
    text-align: center;
}

.header-content h1 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 10px;
}

.header-content p {
    font-weight: 300;
}

button {
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    background: orange;
    color: white;
}